@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.container {
  padding: 0 1rem;
}
.navbar {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}
.navbar-title {
  margin: 0;
  font-family: 'Silkscreen', cursive;
  font-size: 2rem;
}
.connect-button {
  margin-left: auto;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  margin: 0 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
}




